{% extends 'base.html' %}

{% block content %}

    <form action="" method="get">
        {{ form.as_p }}
        <input type="submit" value="Search">
    </form>


    <br/> <br/>
    {% if request.user.is_authenticated %}
        <a href="{% url 'shop:create' %}" class="btn btn-primary">New Post</a>
    {% endif %}


    <br/> <br/>
    <div class="card">
    {% for post in posts %} 
        <a href="{{ post.get_absolute_url }}" class="card-body">{{ post.title }}</a>
    {% endfor %}
    </div>

{% endblock %}